In [0]:
!python --version

Python 3.6.9

In [0]:
!ls -ltr

total 4
drwxr-xr-x 1 root root 4096 Mar  3 18:11 sample_data

In [0]:
!pwd

/content

In [0]:
!apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [564 B]
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [819 B]
Get:7 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:9 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:10 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:11 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [141 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:13 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [37.1 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [826 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,355 kB]
Get:18 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,781 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [836 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,128 kB]
Get:21 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [860 kB]
Fetched 7,260 kB in 8s (953 kB/s)
Reading package lists... Done

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [0]:
# http://archive.apache.org/dist/spark/
# http://archive.apache.org/dist/spark/spark-2.4.4/

In [0]:
!wget -q http://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz

In [0]:
!tar xf spark-2.4.4-bin-hadoop2.7.tgz

In [0]:
!ls -ltr

total 224712
drwxr-xr-x 13 1000 1000      4096 Aug 27  2019 spark-2.4.4-bin-hadoop2.7
-rw-r--r--  1 root root 230091034 Aug 27  2019 spark-2.4.4-bin-hadoop2.7.tgz
drwxr-xr-x  1 root root      4096 Mar  3 18:11 sample_data

In [0]:
!pip install -q findspark

In [0]:
!wget https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=Download

--2020-03-10 22:14:08--  https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=Download
Resolving data.cityofchicago.org (data.cityofchicago.org)... 52.206.140.199, 52.206.68.26, 52.206.140.205
Connecting to data.cityofchicago.org (data.cityofchicago.org)|52.206.140.199|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘rows.csv?accessType=Download’

rows.csv?accessType     [              <=>   ]   1.56G  3.38MB/s    in 8m 9s

2020-03-10 22:22:19 (3.26 MB/s) - ‘rows.csv?accessType=Download’ saved [1670514220]

In [0]:
!ls -ltr

total 1856080
drwxr-xr-x 13 1000 1000       4096 Aug 27  2019  spark-2.4.4-bin-hadoop2.7
-rw-r--r--  1 root root  230091034 Aug 27  2019  spark-2.4.4-bin-hadoop2.7.tgz
drwxr-xr-x  1 root root       4096 Mar  3 18:11  sample_data
-rw-r--r--  1 root root 1670514220 Mar 10 11:19 'rows.csv?accessType=Download'

In [0]:
!du -sh

2.1G	.

In [0]:
mv rows.csv?accessType=Download reported-crimes.csv

In [0]:
!ls -ltr

total 1856080
drwxr-xr-x 13 1000 1000       4096 Aug 27  2019 spark-2.4.4-bin-hadoop2.7
-rw-r--r--  1 root root  230091034 Aug 27  2019 spark-2.4.4-bin-hadoop2.7.tgz
drwxr-xr-x  1 root root       4096 Mar  3 18:11 sample_data
-rw-r--r--  1 root root 1670514220 Mar 10 11:19 reported-crimes.csv

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

import findspark
findspark.init()
#from pyspark import SparkContext
#sc = SparkContext.getOrCreate()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder \
        .master('local')  \
        .appName("sparkV") \
        .getOrCreate() 
spark

In [0]:
'''
>>> spark = SparkSession.builder \
...     .master("local") \
...     .appName("Word Count") \
...     .config("spark.some.config.option", "some-value") \
...     .getOrCreate()
'''

In [0]:
%%time
print("Hello")

Hello
CPU times: user 1.4 ms, sys: 60 µs, total: 1.46 ms
Wall time: 1.22 ms

In [0]:
rawDataDF = spark.read.csv("reported-crimes.csv",header=True,inferSchema=True)

In [0]:
rawDataColumnsList = rawDataDF.columns

In [0]:
len(rawDataColumnsList)

22

In [0]:
rawDataDF.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: boolean (nullable = true)
 |-- Domestic: boolean (nullable = true)
 |-- Beat: integer (nullable = true)
 |-- District: integer (nullable = true)
 |-- Ward: integer (nullable = true)
 |-- Community Area: integer (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: integer (nullable = true)
 |-- Y Coordinate: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Location: string (nullable = true)

In [0]:
rawDataDF.printSchema

<bound method DataFrame.printSchema of DataFrame[ID: int, Case Number: string, Date: string, Block: string, IUCR: string, Primary Type: string, Description: string, Location Description: string, Arrest: boolean, Domestic: boolean, Beat: int, District: int, Ward: int, Community Area: int, FBI Code: string, X Coordinate: int, Y Coordinate: int, Year: int, Updated On: string, Latitude: double, Longitude: double, Location: string]>

In [0]:
rawDataDF.dtypes

[('ID', 'int'),
 ('Case Number', 'string'),
 ('Date', 'string'),
 ('Block', 'string'),
 ('IUCR', 'string'),
 ('Primary Type', 'string'),
 ('Description', 'string'),
 ('Location Description', 'string'),
 ('Arrest', 'boolean'),
 ('Domestic', 'boolean'),
 ('Beat', 'int'),
 ('District', 'int'),
 ('Ward', 'int'),
 ('Community Area', 'int'),
 ('FBI Code', 'string'),
 ('X Coordinate', 'int'),
 ('Y Coordinate', 'int'),
 ('Year', 'int'),
 ('Updated On', 'string'),
 ('Latitude', 'double'),
 ('Longitude', 'double'),
 ('Location', 'string')]

In [0]:
type(rawDataDF.dtypes)#[0][1]

list

In [0]:
rawDataDF.dtypes[0][1]

'int'

In [0]:
rawDataDF.select('Location').dtypes[0][1]

'string'

In [0]:
#from pyspark.sql.functions import to_timestamp,col,lit
#rc = spark.read.csv('reported-crimes.csv',header=True).withColumn('Date',to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') <= lit('2018-11-11'))
#rc.show(5)

In [0]:
rawDataDF.show(3,False)

+--------+-----------+----------------------+------------------+----+-------------------+-----------------------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+--------+---------+--------+
|ID      |Case Number|Date                  |Block             |IUCR|Primary Type       |Description                        |Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|Updated On            |Latitude|Longitude|Location|
+--------+-----------+----------------------+------------------+----+-------------------+-----------------------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+--------+---------+--------+
|11034701|JA366925   |01/01/2001 11:00:00 AM|016XX E 86TH PL   |1153|DECEPTIVE PRACTICE |FINANCIAL IDENTITY THEFT OVER $ 300|RESIDENCE           |false |false   |412 |4       |8   |45            |11      |null        |null        |2001|08/05/2017 03:50:08 PM|null    |null     |null    |
|11227287|JB147188   |10/08/2017 03:00:00 AM|092XX S RACINE AVE|0281|CRIM SEXUAL ASSAULT|NON-AGGRAVATED                     |RESIDENCE           |false |false   |2222|22      |21  |73            |02      |null        |null        |2017|02/11/2018 03:57:41 PM|null    |null     |null    |
|11227583|JB147595   |03/28/2017 02:00:00 PM|026XX W 79TH ST   |0620|BURGLARY           |UNLAWFUL ENTRY                     |OTHER               |false |false   |835 |8       |18  |70            |05      |null        |null        |2017|02/11/2018 03:57:41 PM|null    |null     |null    |
+--------+-----------+----------------------+------------------+----+-------------------+-----------------------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+----------------------+--------+---------+--------+
only showing top 3 rows

In [0]:
rawDataDF.count()

7059829

In [0]:
from pyspark.sql.functions import col,lit,to_timestamp

In [0]:
rawDataDF.select('Latitude').where(col('Latitude').isNotNull()).count()

6992177

In [0]:
#@title Default title text
from pyspark.sql.functions import to_timestamp,col,lit
rc = spark.read.csv('reported-crimes.csv',header=True).withColumn('Date',to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') <= lit('2018-11-11'))
rc.show(5)

In [0]:
from pyspark.sql.functions import to_timestamp,col,lit
rc = spark.read.csv('reported-crimes.csv',header=True).withColumn('Date',to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') <= lit('2018-11-11'))
rc.show(5)

#Schemas

In [0]:
type(rc)

In [0]:
rc.printSchema()

In [0]:
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, BooleanType, DoubleType, IntegerType

In [0]:
rc.columns

In [0]:
schema = StructType([
    StructField('ID', StringType, True),
 StructField('Case Number', StringType, True),
 StructField('Date', TimestampType, True),
 'Block',
 'IUCR',
 'Primary Type',
 'Description',
 'Location Description',
 'Arrest',
 'Domestic',
 'Beat',
 'District',
 'Ward',
 'Community Area',
 'FBI Code',
 'X Coordinate',
 'Y Coordinate',
 'Year',
 'Updated On',
 'Latitude',
 'Longitude',
 'Location',
 'Historical Wards 2003-2015',
 'Zip Codes',
 'Community Areas',
 'Census Tracts',
 'Wards',
 'Boundaries - ZIP Codes',
 'Police Districts',
 'Police Beats')
])

In [0]:
labels = [('ID',StringType()),
 ('Case Number',StringType()),
 ('Date',TimestampType()),
 ('Block',StringType()),
 ('IUCR',StringType()),
 ('Primary Type',StringType()),
 ('Description',StringType()),
 ('Location Description',StringType()),
 ('Arrest',StringType()),
 ('Domestic',BooleanType()),
 ('Beat',StringType()),
 ('District',StringType()),
 ('Ward',StringType()),
 ('Community Area',StringType()),
 ('FBI Code',StringType()),
 ('X Coordinate',StringType()),
 ('Y Coordinate',StringType()),
 ('Year',IntegerType()),
 ('Updated On',StringType()),
 ('Latitude',DoubleType()),
 ('Longitude',DoubleType()),
 ('Location',StringType()),
 ('Historical Wards 2003-2015',StringType()),
 ('Zip Codes',StringType()),
 ('Community Areas',StringType()),
 ('Census Tracts',StringType()),
 ('Wards',StringType()),
 ('Boundaries - ZIP Codes',StringType()),
 ('Police Districts',StringType()),
 ('Police Beats',StringType())]

In [0]:
schema = StructType([StructField(x[0],x[1],True) for x in labels])

In [0]:
schema

In [0]:
rc = spark.read.csv('reported-crimes.csv',schema=schema)
rc.printSchema()

In [0]:
!ls

In [0]:
rc.show(5)

In [0]:
from pyspark.sql.functions import to_timestamp,col,lit
rc = spark.read.csv('reported-crimes.csv',header=True).withColumn('Date',to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') <= lit('2018-11-11'))
rc.show(5)

In [0]:
!ls

## Working with columns

In [0]:
## Working with columns

**Display only the first 5 rows of the column name IUCR **

In [0]:
rc.unpersist() #‘or ‘sqlContext.uncacheTable("sparktable") ‘

In [0]:
#df.unpersist() or rdd.unpersist()

In [0]:
rc.select('IUCR').show(5)

In [0]:
rc.select(rc.IUCR).show(5)

In [0]:
rc.select(col('IUCR')).show(5)

  **Display only the first 4 rows of the column names Case Number, Date and Arrest**

In [0]:
rc.select('Case Number','Date', 'Arrest').show(4)

** Add a column with name One, with entries all 1s **

In [0]:
from pyspark.sql.functions import lit

In [0]:
rc.withColumn('One',lit(1)).show(1)

In [0]:
rc = rc.drop('IUCR')
rc.show(2)

In [0]:
** Remove the column IUCR **

# Working with rows

## Working with rows

**Add the reported crimes for an additional day, 12-Nov-2018, to our dataset.**

In [0]:
one_day = spark.read.csv('reported-crimes.csv',header=True).withColumn('Date',to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') == lit('2018-11-12'))

In [0]:
one_day.count()

In [0]:
rc.union(one_day).orderBy('Date', ascending=False).show(5)

**What are the top 10 number of reported crimes by Primary type, in descending order of occurence?**

In [0]:
rc.groupBy('Primary Type').count().show()

In [0]:
rc.groupBy('Primary Type').count().orderBy('count', ascending =False).show(10)

## Challenge questions

**What percentage of reported crimes resulted in an arrest?**

In [0]:
rc.columns

In [0]:
rc.select('Arrest').distinct().show()

In [0]:
rc.select('Arrest').printSchema()

In [0]:
rc.select('Arrest').groupBy('Arrest').count().show()

In [0]:
(rc.filter(col('Arrest')=='true').count()/ rc.select('Arrest').count())*100

  **What are the top 3 locations for reported crimes?**

In [0]:
rc.groupBy('Location Description').count().show()

In [0]:
rc.groupBy('Location Description').count().orderBy('count', ascending=False).show(3)

**What is the most frequently reported non-criminal activity?**

In [0]:
rc.cache()
rc.count()

In [0]:
rc.select(col('Primary Type')).distinct().count()

In [0]:
rc.select(col('Primary Type')).distinct().show(35)

In [0]:
rc.select(col('Primary Type')).distinct().orderBy(col('Primary Type')).show(35,truncate=False)

In [0]:
nc = rc.filter((col('Primary Type') == 'NON - CRIMINAL')| (col('Primary Type') == 'NON-CRIMINAL') | (col('Primary Type') == 'NON-CRIMINAL (SUBJECT SPECIFIED)'))
nc.show(50, truncate =False)

In [0]:
nc.groupBy(col('Description')).count().orderBy('count',ascending=False).show(truncate = False)

**Using a bar chart, plot which day of the week has the most number of reported crime. 
**

In [0]:
from pyspark.sql.functions import dayofweek

In [0]:
help(dayofweek)

In [0]:
rc.show(truncate=False)

In [0]:
rc.select(col('Date'),dayofweek(col('Date'))).show(5,truncate=False)

In [0]:
from pyspark.sql.functions import date_format

In [0]:
help(date_format)

In [0]:
rc.select(col('Date'),dayofweek(col('Date')),date_format(col('Date'),'E')).show(5,truncate=False)

In [0]:
rc.groupBy(date_format(col('Date'),'E')).count().orderBy('count',ascending=False).show(truncate=False)

In [0]:
rc.groupBy(date_format(col('Date'),'E')).count().collect()

In [0]:
dow = [x[0] for x in rc.groupBy(date_format(col('Date'),'E')).count().collect()]
dow

In [0]:
cnt = [x[1] for x in rc.groupBy(date_format(col('Date'),'E')).count().collect()]
cnt

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
cp = pd.DataFrame({'day_of_week':dow, 'count':cnt })

In [0]:
cp.head(7)

In [0]:
cp.sort_values('count', ascending=False).plot(kind='bar',color = 'olive',x ='day_of_week',y='count')
plt.xlabel('Day of the week')
plt.ylabel('No. of reported crimes')
plt.title('No. of reported crimes per day from 2001 to present')

## Built-in functions

In [0]:
from pyspark.sql import functions

In [0]:
print(dir(functions))

## String functions

**Display the Primary Type column in lower and upper characters, and the first 4 characters of the column**

In [0]:
from pyspark.sql.functions import lower, upper, substring

In [0]:
help(substring)

In [0]:
rc.printSchema()

In [0]:
rc.select(lower(col('Primary Type')).alias('primary_type_lower'), upper(col('Primary Type')).alias('PRIMARY_TYPE_UPPER'), substring(col('Primary Type'),1,4).alias('primary_type_four')).show(5)

## Numeric functions

**Show the oldest date and the most recent date**

In [0]:
from pyspark.sql.functions import min, max

In [0]:
rc.select(min(col('Date')).alias('min_date'),max(col('Date')).alias('max_date')).show(1)

In [0]:
rc.select(min(col('Date')),max(col('Date'))).show(1)

## Date

** What is 3 days earlier that the oldest date and 3 days later than the most recent date?**

In [0]:
    from pyspark.sql.functions import date_add, date_sub

In [0]:
help(date_add)

In [0]:
help(date_sub)

In [0]:
rc.select(date_sub(min(col('Date')),3),date_add(max(col('Date')),3)).show(1)

# Working with dates

In [0]:
from pyspark.sql.functions import min,max, date_add, date_sub

In [0]:
rc.select(date_sub(min(col('Date')),3),date_add(max(col('Date')),3)).show(1)

In [0]:
from pyspark.sql.functions import to_date, to_timestamp, lit

  **2019-12-25 13:30:00**

In [0]:

df = spark.createDataFrame([('2019-12-25 13:30:00',)],['Christmas'])
df.show()

In [0]:
df.select(to_date(col('Christmas'),'yyyy-MM-dd HH:mm:ss'),to_timestamp(col('Christmas'),'yyyy-MM-dd HH:mm:ss')).show()

**25/Dec/2019 13:30:00**

In [0]:
df = spark.createDataFrame([('25/Dec/2019 13:30:00',)],['Christmas'])
df.show(1)

In [0]:
df.select(to_date(col('Christmas'),'dd/MMM/yyyy HH:mm:ss'),to_timestamp(col('Christmas'),'dd/MMM/yyyy HH:mm:ss')).show(1)

**12/25/2019 01:30:00 PM**

In [0]:
df = spark.createDataFrame([('12/25/2019 01:30:00 PM',)],['Christmas'])
df.show(1,truncate=False)

In [0]:
df.select(to_date(col('Christmas'),'MM/dd/yyyy hh:mm:ss aa'),to_timestamp(col('Christmas'),'MM/dd/yyyy hh:mm:ss aa')).show(1)

In [0]:
nrc = spark.read.csv('reported-crimes.csv',header=True)
nrc.show(5,truncate=False)

## Joins

**Download police station data**

In [0]:
!wget -O police-station.csv https://data.cityofchicago.org/api/views/z8bn-74gv/rows.csv?accessType=DOWNLOAD

In [0]:
!ls -l

In [0]:
ps = spark.read.csv('police-station.csv',header=True)
ps.show(5,truncate=True)

**The reported crimes dataset has only the district number. Add the district name by joining with the police station dataset**

In [0]:
rc.cache()
rc.count()

In [0]:
ps.select(col('DISTRICT')).distinct().show(30)

In [0]:
rc.select(col('District')).distinct().show(30)

In [0]:
from pyspark.sql.functions import lpad

In [0]:
help(lpad)

In [0]:
ps.select(lpad(col('DISTRICT'),3,'0')).show(10)

In [0]:
ps = ps.withColumn('Format_district', lpad(col('DISTRICT'),3,'0'))
ps.show(10)

In [0]:
rc.join(ps, rc.District == ps.Format_district, 'left_outer').show(10)

In [0]:
ps.columns

In [0]:
rc.join(ps, rc.District == ps.Format_district, 'left_outer').drop( 'ADDRESS',
 'CITY',
 'STATE',
 'ZIP',
 'WEBSITE',
 'PHONE',
 'FAX',
 'TTY',
 'X COORDINATE',
 'Y COORDINATE',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION',
 'Boundaries - ZIP Codes',
 'Community Areas',
 'Zip Codes',
 'Census Tracts',
 'Wards',
 ':@computed_region_awaf_s7ux',
 'Format_district').show(10)

# RDDs

In [0]:
psrdd = sc.textFile('police-stations.csv')
psrdd.first()

In [0]:
ps_header = psrdd.first()

In [0]:
psrest = psrdd.filter(lambda line: line!=ps_header)

In [0]:
psrest.first()

**How many police stations are there?**

In [0]:
psrest.map(lambda line:line.split(',')).collect()

In [0]:
psrest.map(lambda line:line.split(',')).count()

**Display the District ID, District name, Address and Zip for the police station with District ID 7**

In [0]:
(psrest.filter(lambda line: line.split(',')[0]=='7').
 map(lambda line: (line.split(',')[0],
                    line.split(',')[1],
                    line.split(',')[2],
                    line.split(',')[5]))).collect()

**Police stations 10 and 11 are geographically close to each other. Display the District ID, District name, address and zip code**

In [0]:
(psrest.filter(lambda line: line.split(',')[0] in ['10','11']).
 map(lambda line: (line.split(',')[0],
                    line.split(',')[1],
                    line.split(',')[2],
                    line.split(',')[5]))).collect()